@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: 'Cormorant';
  src: url('/fonts/Cormorant-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Variable weight range */
  font-style: normal;
}

/* Cormorant Italic */
@font-face {
  font-family: 'Cormorant';
  src: url('/fonts/Cormorant-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Variable weight range */
  font-style: italic;
}

/* Montserrat Regular */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Variable weight range */
  font-style: normal;
}

/* Montserrat Italic */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Variable weight range */
  font-style: italic;
}
@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);  
  font-family: 'Montserrat', sans-serif;

}
.bottom-img{
  background-position-y: -280px;
}
@media (max-width: 640px) {
  .bottom-img{
    background-position-y: 0;
  }

}